<a href="https://colab.research.google.com/github/melmaganja/neural-network-challenge-2/blob/main/attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers
from sklearn.preprocessing import OneHotEncoder

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[["Attrition", "Department"]]

In [4]:
# Create a list of at least 10 column names to use as X data
# Create X_df using your selected columns

column_names = ['Age', 'Education', 'DistanceFromHome','StockOptionLevel','OverTime', 'HourlyRate', 'YearsWithCurrManager', 'YearsSinceLastPromotion', 'YearsInCurrentRole','YearsAtCompany','WorkLifeBalance','TotalWorkingYears','RelationshipSatisfaction','PercentSalaryHike','NumCompaniesWorked','JobSatisfaction','JobLevel','JobInvolvement']

X_df = attrition_df[column_names]

# Show the data types for X_df
X_df.dtypes

Age                          int64
Education                    int64
DistanceFromHome             int64
StockOptionLevel             int64
OverTime                    object
HourlyRate                   int64
YearsWithCurrManager         int64
YearsSinceLastPromotion      int64
YearsInCurrentRole           int64
YearsAtCompany               int64
WorkLifeBalance              int64
TotalWorkingYears            int64
RelationshipSatisfaction     int64
PercentSalaryHike            int64
NumCompaniesWorked           int64
JobSatisfaction              int64
JobLevel                     int64
JobInvolvement               int64
dtype: object

In [5]:
from re import X
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split (X_df,y_df, random_state=127)

In [6]:
print(X_train.dtypes)

Age                          int64
Education                    int64
DistanceFromHome             int64
StockOptionLevel             int64
OverTime                    object
HourlyRate                   int64
YearsWithCurrManager         int64
YearsSinceLastPromotion      int64
YearsInCurrentRole           int64
YearsAtCompany               int64
WorkLifeBalance              int64
TotalWorkingYears            int64
RelationshipSatisfaction     int64
PercentSalaryHike            int64
NumCompaniesWorked           int64
JobSatisfaction              int64
JobLevel                     int64
JobInvolvement               int64
dtype: object

In [7]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
overtime_encoder = OneHotEncoder(sparse_output=False, drop="first", handle_unknown="ignore")
overtime_encoder.fit(np.array(X_train["OverTime"]).reshape(-1,1))
X_train["OverTimeEncoded"]=overtime_encoder.transform(np.array(X_train["OverTime"]).reshape(-1,1))
X_test["OverTimeEncoded"]=overtime_encoder.transform(np.array(X_test["OverTime"]).reshape(-1,1))

X_train = X_train.drop(columns="OverTime")
X_test = X_test.drop(columns="OverTime")

In [8]:
# Create a StandardScaler
scaler = StandardScaler()
# Fit the StandardScaler to the training data
X_scaler = scaler.fit(X_train)
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Create a OneHotEncoder for the Department column
Department_encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
Department_encoder.fit(np.array(y_train['Department']).reshape(-1,1))

# Create two new variables by applying the encoder
# to the training and testing data
y_department_train = Department_encoder.transform(np.array(y_train['Department']).reshape(-1,1))
y_department_test = Department_encoder.transform(np.array(y_test['Department']).reshape(-1,1))

In [10]:
# Create a OneHotEncoder for the Attrition column
Attrition_encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
Attrition_encoder.fit(np.array(y_train['Attrition']).reshape(-1,1))

# Create two new variables by applying the encoder
# to the training and testing data
y_attrition_train = Attrition_encoder.transform(np.array(y_train['Attrition']).reshape(-1,1))
y_attrition_test = Attrition_encoder.transform(np.array(y_test['Attrition']).reshape(-1,1))

## Create, Compile, and Train the Model

In [11]:
# Find the number of columns in the X training data
input_nodes = 18

# Create the input layer
Input_layer = layers.Input(shape=(input_nodes,),name="Input_layer")

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(Input_layer)
shared_layer2 = layers.Dense(128, activation='relu')(shared_layer1)

In [12]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
Hidden_Layer_Department = layers.Dense(3, activation='relu', name='Department_hidden')(shared_layer2)

# Create the output layer
Output_Layer_Department = layers.Dense(3, activation='sigmoid', name='Department_output')(shared_layer2)

In [13]:
# Create a branch for Attrition
# with a hidden layer and an output layer


# Create the hidden layer
Hidden_Attrition_Layer = layers.Dense(3, activation='relu', name='Attrition_hidden')(shared_layer2)

# Create the output layer
Output_Attrition_Layer = layers.Dense(y_attrition_train.shape[1], activation='relu', name='Attrition_output')(shared_layer2)

In [14]:
# Create the model
model = Model(inputs=Input_layer, outputs=[Output_Layer_Department, Output_Attrition_Layer])

# Compile the model
model.compile(optimizer='adam',
              loss={'Department_output': 'categorical_crossentropy', 'Attrition_output': 'binary_crossentropy'},
              metrics={'Department_output': 'accuracy', 'Attrition_output': 'accuracy'})

# Summarize the model
model.summary()

Model: "functional"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)              ┃ Output Shape           ┃        Param # ┃ Connected to           ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━┩
│ Input_layer (InputLayer)  │ (None, 18)             │              0 │ -                      │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ dense (Dense)             │ (None, 64)             │          1,216 │ Input_layer[0][0]      │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ dense_1 (Dense)           │ (None, 128)            │          8,320 │ dense[0][0]            │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ Department_output (Dense) │ (None, 3)              │            387 │ dense_1[0][0]          │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ Attrition_output (Dense)  │ (None, 2)              │            258 │ dense_1[0][0]          │
└───────────────────────────┴────────────────────────┴────────────────┴────────────────────────┘

 Total params: 10,181 (39.77 KB)

 Trainable params: 10,181 (39.77 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Train the model
model.fit(
    X_train,
    {'Department_output': y_department_train, 'Attrition_output': y_attrition_train},
    epochs=10,
    batch_size=32,
    validation_split=0.2
)

Epoch 1/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 5s 19ms/step - Attrition_output_accuracy: 0.8290 - Department_output_accuracy: 0.5312 - loss: 4.2709 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.6063 - val_loss: 3.5766
Epoch 2/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - Attrition_output_accuracy: 0.8175 - Department_output_accuracy: 0.6411 - loss: 3.7102 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.4389 - val_loss: 3.4213
Epoch 3/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - Attrition_output_accuracy: 0.8288 - Department_output_accuracy: 0.6005 - loss: 3.6230 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.6018 - val_loss: 3.4932
Epoch 4/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - Attrition_output_accuracy: 0.8470 - Department_output_accuracy: 0.6157 - loss: 3.2442 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.6063 - val_loss: 3.5643
Epoch 5/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - Attrition_output_accuracy: 0.8540 - Department_output_accuracy: 0.5642 - loss: 3.2027 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.5023 - val_loss: 3.3962
Epoch 6/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - Attrition_output_accuracy: 0.8020 - Department_output_accuracy: 0.6237 - loss: 3.9713 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.5973 - val_loss: 3.4257
Epoch 7/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - Attrition_output_accuracy: 0.8406 - Department_output_accuracy: 0.6602 - loss: 3.2953 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.5701 - val_loss: 3.3753
Epoch 8/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - Attrition_output_accuracy: 0.8470 - Department_output_accuracy: 0.6150 - loss: 3.2470 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.5882 - val_loss: 3.3832
Epoch 9/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - Attrition_output_accuracy: 0.8360 - Department_output_accuracy: 0.6194 - loss: 3.4332 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.5339 - val_loss: 3.3960
Epoch 10/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Attrition_output_accuracy: 0.8416 - Department_output_accuracy: 0.6739 - loss: 3.2728 - val_Attrition_output_accuracy: 0.8462 - val_Department_output_accuracy: 0.6018 - val_loss: 3.4156

In [16]:
# Evaluate the model with the testing data
test_results = model.evaluate(X_test, {'Department_output': y_department_test, 'Attrition_output': y_attrition_test})
test_results

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Attrition_output_accuracy: 0.8378 - Department_output_accuracy: 0.6099 - loss: 3.4099

[3.1883597373962402, 0.8505434989929199, 0.6494565010070801]

In [17]:
# Print the accuracy for both department and attrition
print(f"Department output accuracy: {test_results}")
print(f"Attrition output accuracy: {test_results}")

Department output accuracy: [3.1883597373962402, 0.8505434989929199, 0.6494565010070801]
Attrition output accuracy: [3.1883597373962402, 0.8505434989929199, 0.6494565010070801]

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. I do not believe that accuracy is the best metric for the data. Since there are two factors that we are exploring “Attrition” and “Department”, it seems like there is an imbalance between the data points of the two variables. It also does not answer the overall purpose of the model. By reviewing the results of the accuracy scores, I do not know which employees are going to leave the company or who would be better suited for another department. In addition, accuracy does not consider false positives or false negatives.
Balanced accuracy could provide a better metric since it measures that accuracy of each class and averages the results. This could help since the classes are imbalanced.

2. Relu and Sigmoid activation functions were added to the output layers. Relu was used because it changes any negative input to 0. Since we used an encoding function like OneHotEncoder, we had turned all the data points into various numbers from negative to positive. Relu presented the data into a easier processing format. Sigmoid was used to narrow the data into two subsets of data. This was necessary because we were asked to evaluate two y columns.

3. This model can be improved with more data. When the unique factors of each class were explored at the beginning of the challenge there was only two unqiue variables in Attrition and three in Department. It is also hard to determine which factors actually contribute to a person leaving the company, compared to which factors are being explored to indicate a person moving to another department. I would like to understand which factors have more weight on the model. In this case Softmax could be applied in the outer layer before sigmoid.